/* Animations */
@keyframes show-star {
    100% {
        transform: scale(1);
    }
}

/* Styles */
.hero .container {
    width: min(90%,1000px);
    min-height: 30vw;
    padding: 10vw 30px 5vw;
    flex-direction: column;
    row-gap: 3vw;
}

.hero p {
    text-align: center;
    line-height: 1.4;
}

.hero .title-lg {
    position: relative;
}

.hero .title-lg::after,
.hero .title-lg::before {
    content: '';
    padding: 2.5vw;
    background: url(../../assets/Images/Star.svg) no-repeat center center;
    background-size: cover;
    filter: drop-shadow(4px 4px 3px #00000055);
    transform: scale(0);
    animation: show-star 0.5s 1.3s forwards;
    position: absolute;
}

.hero .title-lg::after {
    bottom: 115%;
    left: calc(100% + 4vw);
}

.hero .title-lg::before {
    top: 115%;
    right: calc(100% + 5vw);
}