/* Animations */
@keyframes show-star {
    100% {
        transform: scale(1);
    }
}

/* Styles */
.hero .container {
    width: min(100%,1000px);
    padding: 10vw 30px 5vw;
    flex-direction: column;
    row-gap: 3vw;
    position: relative;
}

.hero .container::after,
.hero .container::before {
    content: '';
    padding: 2.5vw;
    background: url(../../assets/Images/Star.svg) no-repeat center center;
    background-size: cover;
    filter: drop-shadow(4px 4px 3px #00000055);
    transform: scale(0);
    animation: show-star 0.5s 1.3s forwards;
    position: absolute;
}

.hero .container::after {
    top: 10%;
    right: 5%;
}

.hero .container::before {
    bottom: 10%;
    left: 3%;
}