/* Animations */
@keyframes show-star {
    100% {
        transform: scale(1);
    }
}

/* Styles */
.hero {
    height: 52vh;
    max-height: 48vw;
    margin: 30px 0 5vw;
}

.hero .container {
    max-width: 1200px;
    flex-direction: column;
    justify-content: center;
    row-gap: clamp(15px,2vw,30px);
    position: relative;
}

.hero .container::after,
.hero .container::before {
    content: '';
    padding: 2vw;
    background: url(../../Assets/Images/Star.svg) no-repeat center center;
    background-size: cover;
    transform: scale(0);
    animation: show-star 0.5s 1.3s forwards;
    position: absolute;
}

.hero .container::after {
    top: 10%;
    right: 10%;
    filter: drop-shadow(4px -4px 3px #00000055);
}

.hero .container::before {
    bottom: 10%;
    left: 10%;
    filter: drop-shadow(-4px 4px 3px #00000055);
}

.hero p {
    max-width: 300px;
    text-align: center;
    line-height: 1.4;
}