@font-face {
  font-family: 'icomoon';
  src: 
    url('../Fonts/Font-Icon/Icomoon.eot?j3t62z#iefix') format('embedded-opentype'),
    url('../Fonts/Font-Icon/Icomoon.ttf?j3t62z') format('truetype'),
    url('../Fonts/Font-Icon/Icomoon.woff?j3t62z') format('woff'),
    url('../Fonts/Font-Icon/Icomoon.svg?j3t62z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e906";
}
.icon-up:before {
  content: "\e90a";
}
.icon-down:before {
  content: "\e907";
}
.icon-html5:before {
  content: "\e903";
  color: #e34f26;
}
.icon-css3:before {
  content: "\e904";
  color: #1572b6;
}
.icon-bootstrap:before {
  content: "\e908";
  color: #563d7c;
}
.icon-sass:before {
  content: "\e900";
  color: #c69;
}
.icon-javascript:before {
  content: "\e902";
  color: #f7df1e;
}
.icon-jquery:before {
  content: "\e909";
  color: #0769ad;
}
.icon-react:before {
  content: "\e901";
  color: #61dafb;
}
.icon-vue:before {
  content: "\e90e";
  color: #4fc08d;
}
.icon-link:before {
  content: "\e9cc";
}
.icon-unlink:before {
  content: "\f128";
}
.icon-download:before {
  content: "\e90e";
}
.icon-sun:before {
  content: "\e90b";
}
.icon-moon:before {
  content: "\e90c";
}
.icon-phone:before {
  content: "\e942";
}
.icon-email:before {
  content: "\e945";
}
.icon-whatsapp:before {
  content: "\ea93";
  color: #25D366;
}
.icon-telegram:before {
  content: "\ea95";
  color: #24A1DE;
}
.icon-github:before {
  content: "\eab0";
  color: #444;
}
.icon-linkedin:before {
  content: "\eacb";
  color: #0077B5;
}
.icon-gmail:before {
  content: "\e90d";
  color: #d14836;
}