/* Animations */
@keyframes show-content {
    100% {
        opacity: 1;
        transform: translate(0,0);
    }
}

/* Styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #025a4e;
    --primary-color_dark: #234138;
    --secondary-color: #a3dcd4;
    --bg-color: #ede7de;
    --text-color: #283634;
}

::selection {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* scrollbar */
::-webkit-scrollbar {
    width: 9px;
    background-color: #e2e2e2;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color_dark);
}

::-webkit-scrollbar-button {
    background-color: #333;
}

/* body */
body,
html {
    background-image: linear-gradient(30deg , var(--bg-color) , #e4d2c7 , #b9e1dc );
    scroll-behavior: smooth;
    cursor: context-menu;
    font-family: sans-serif;
    line-height: 1.5;
    color: var(--text-color);
}

/* tags */
ul,
li {
    list-style: none;
}

a,
i {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
/* image alt */
img::before {
    content: '\f128' ' Broken Image of ' attr(alt);
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    background-color: #e6e6e6;
    border: 2px dotted #c8c8c8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font: 16px 'icomoon' , sans-serif;
    color: #646464;
}

p {
    font-size: 15px;
    line-height: 2.2;
}

p::first-letter,
figcaption::first-letter {
    text-transform: uppercase;
}

/* container */
.container {
    width: min(100%,1400px);
    height: 100%;
    margin: 0 auto;
    padding: 6% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* title */
.title-lg {
    text-transform: capitalize;
    text-align: center;
    font: 7vw / 1 'Simply-Rounded-bold';
    color: var(--primary-color);
}

.title-md {
    letter-spacing: 1px;
    text-transform: capitalize;
    font: 36px 'Simply-Rounded-normal';
    color: var(--primary-color);
}

.subline {
    padding-bottom: 20px;
    position: relative;
}

.subline::after {
    content: '';
    width: 70%;
    border-bottom: 2px solid var(--primary-color);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

/* Main */
.main {
    min-height: 80vh;
}

.main > :nth-child(n) {
    opacity: 0; 
    transform: translate(0,-2vw);
    animation: show-content 0.5s 0.7s forwards;
}

.main > :nth-child(2n) {
    animation-delay: 0.9s;
}

/* Responsive */
@media (max-width: 768px) {
    p {
        line-height: 1.9;
    }

    .container {
        padding: 15% 5%;
    }
}

@media (max-width:600px) {
    .title-lg {
        font-size: 10vw;
    }

    .title-md {
        font-size: 26px;
    }
}

@media (max-width:376px) {
    .title-md {
        font-size: 23px;
    }
}